/*Orientação  */

/*/////////////////////////////////////// elementos gerais ///////////////////////////////////////////////////////*/


body {
  margin: 0;
  padding: 0;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

main {
  min-height: 80vh;
}

/*/-------------------campos error ---------------------/*/
.error_input {
  color: red !important;
  outline: 2px solid rgb(212, 14, 14) !important;
  border: none !important;
}

.error_input:focus {
  border-color: 2px solid rgb(212, 14, 14) !important;
}

/*-------------------------- campo  invisivel ------------------*/
.invisivel {
  display: none;
}

.visivel {
  display: block;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////              Componentes                       ////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////  alerts /////////////////////////////////////////////////////////////////*/

#alertas {
  width: 40vw;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 100px;
  display: block;
}

@media (max-width: 1020px) {
  #alertas {
    width: 50vw;
    margin-top: 80px;
  }
}

@media (max-width: 720px) {
  #alertas {
    width: 80vw;
    font-size: smaller;
  }
}


/*///////////////////////////////////////////////////////////////  header /////////////////////////////////////////////////////////////////*/
header {
  height: 100px;
  display: flex;
  justify-content: left;
  /*alinha as divs */
  background: #5E1C6F;
  font-size: 20px;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.61);
  padding-right: 55px;
}

#logoHeader {
  width: 300px;
  padding-top: 8px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 34px;
  font-weight: 700;
}

#logoHeader:hover {
  font-weight: 800;
}

#logoHeader img {
  width: 30%;
}

#logo_header_img {
  width: 180px;
}

#nav {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: right;
}

#menu {
  width: 85%;
  display: flex;
  list-style: none;
  padding-top: 15px;
  align-items: center;
}

#menu a {
  display: block;
  padding-right: 60px;
  color: white;
  text-decoration: none;
}

#menu a:hover {
  font-weight: 500;
}

#loginNav {
  display: flex;
  height: 100%;
  width: 100px;
  color: white;
  text-decoration: none;
  align-items: center;
}

#loginNav:hover {
  font-weight: 500;
}

#perfilDiv {
  display: flex;
  height: 100%;
  width: 100px;
  align-items: center;
  justify-items: left;
  color: white;
}

#perfilDiv a div {
  margin-right: 10px;
}

#perfilDiv a {
  display: flex;
  color: white;
  text-decoration: none;
}

#perfilDiv :hover {
  font-weight: 500;
}

#iconUserHeader {
  height: 30px;
  width: 30px;
}

#btn-mobile {
  display: none;
  color: white;
}

#a_logout {
  margin-left: auto;
}

/*-------------------------navbar responsivo ------------------------------ */
@media (max-width: 1020px) {
  header {
    height: 60px;
    align-items: center;
    padding-right: 0px;
  }

  #logoHeader {
    padding-top: 0px;
    font-size: 24px;
    font-weight: 500;
  }

  #logoHeader img {
    width: 50px;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 60px;
    right: 0px;
    background: #902DA9;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    margin-right: auto;
  }

  #loginNav {
    width: 50px;
  }

  #perfilDiv div {
    display: none;
  }

  #perfilDiv {
    width: 50px;
    justify-content: end;
  }

  #nav.active #menu {
    height: 40%;
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }

  #menu a:hover {
    font-weight: bold;
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    height: auto;
  }

  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}



/*//// ////////////////////////////////////////////////// footer /////////////////////////////////////////  ////*/
#footer {
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #2E2E2E;
  color: white;
  bottom: 0px;
}

#aFooter {
  color: white;
  text-decoration: none;
  height: 60px;
  align-items: center;
  font-size: x-large;
}

#logoFooter {
  margin-top: 15px;
  width: 100px;
}



#itensFooter {
  height: 40px;
  display: flex;
  justify-content: space-between;
}

#itensFooter h6 {
  margin-top: 3vh;
  color: white;
  font-size: x-small;
}

#btns-footer {
  display: flex;
  justify-content: right;
  margin: 10px;
  margin-right: 50px;
}

#btns-footer a {
  text-decoration: none;
}

.iconesFooter {
  margin-left: 10px;
  height: 30px;
  width: 30px;
  color: white;
}

@media (max-width: 700px) {
  #logoFooter {
    width: 50px;
  }

  .iconesFooter {
    height: 15px;
    width: 15px;
    margin-left: 3px;
    margin-right: auto;
  }

  #btns-footer {
    width: 50%;
    right: 0px;

  }

  #itensFooter h6 {
    margin-top: 2%;
    font-size: xx-small;
  }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////              Home                       ////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////////////// carrossel /////////////////////////////////////*/
#carouselExampleInterval {
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
}

@media(max-width:768px) {
  #carouselExampleInterval img {
    height: 20vh;
  }

  #carouselExampleInterval {
    width: 100%;
    margin-left: 0%;
  }
}

/*/////////////////////////////////////////////////////////////   cards //////////////////////////////////////*/
#sectionHome {
  margin: 5%;
}

#sectionHome h1 {
  color: #5E1C6F;
  margin-bottom: 5%;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}

#mainHome {
  min-height: 100vh;
}

#planosHome {
  margin-left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

#servicos-titulo {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 10px;
  color: #5E1C6F;
}

.containerCard {
  text-decoration: none;
  padding: 10px;
  padding-top: 30px;
  width: 20vw;
  height: 250px;
  background-color: #5e1c6fd6;
  border: 1px solid rgba(0, 0, 0, 0.407);
  border-radius: 20px;
  text-align: center;
  color: white;
}

.containerCard:hover {
  box-shadow: 2px 20px 25px rgb(0, 0, 0);
  background: linear-gradient(#5E1C6F, #902DA9);
}

@media(max-width: 1024px) {
  #planosHome {
    display: block;
    width: 100%;
  }

  .containerCard {
    display: block;
    /* Alterado de inline para block */
    width: 90%;
    height: 200px;
    background-color: #5E1C6F;
    margin-bottom: 5%;
  }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////              Perfil                       //////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#mainPerfil {
  margin: 5%;
}

#apresentacao {
  width: 500px;
  display: flex;
  align-items: end;
  justify-content: left;
  color: #902DA9;
}

#iconUser {
  margin-right: 3px;
}

#mainPerfil section {
  margin: 5%;
}

#mainPerfil h1 {
  color: #902DA9;
  margin-bottom: 5%;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}

#dadosPessoais {
  padding-left: 2%;
}


#containerPlanoPerfil {
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.11);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  padding: 1%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

h2 {
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.521);
}

#div_edit_senha {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #2e2e2e4b;
  display: flex;
  align-items: first baseline;
  justify-content: center;
  padding-top: 10%;
}

#div_edit_senha_div {
  color: #5E1C6F;
  padding: 20px;
  background: white;
  position: fixed;
  width: 30%;
  border-radius: 5px;
  text-align: center;
}

#div_edit_senha_div_fechar {
  font-size: x-large;
  margin-left: 90%;
  width: 10%;
  color: #33083d;
  background: none;
  border: none;
}

.input_alterar_senha {
  width: 70%;
}

.input_alterar_senha:focus {
  outline: none;
}

.span_alterar_senha {
  color: red;
}

#div_edit_senha_div_fechar:hover {
  color: #b237ce;
}


@media(max-width: 750px) {
  #containerPlanoPerfil {
    flex-direction: column;
    padding-bottom: 5%;
  }

  #iconUser {
    height: 30px;
    width: 30px;
  }

  #apresentacao h4,
  #mainPerfil,
  #mainPerfil h1 {
    font-size: small;
  }

  #div_edit_senha_div {
    width: 90vw;

  }

}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////              Usuários                       //////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#usuariosMain {
  min-height: 100vh;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  width: 80%;
}

#form_pesquisa_usuario {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pdf_user {
  color: red;
}

.pdf_user:hover {
  color: blue;
}


#form_pesquisa_usuario div {
  border: solid 2px #5E1C6F;
  border-radius: 5px;
  padding: 2px;
}

#input_pesquisa_usuario {
  border: none;
  background: none;
  outline: none;
}

#button_pesquisa_usuario {
  background: none;
  border: none;
  color: #33083d;
}

#button_pesquisa_usuario :hover {
  color: #c857e4
}

#containerUsuario {
  color: #902DA9;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.11);
  margin: 2% 0;
  padding: 3%;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

#listaUsuarios {
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.11);
  border-top: 0px;
  margin: 2% 0;
  padding: 3%;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.camposListaUsers {
  width: 20%;
  text-decoration: none;
}

#card_detalhes_users {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #2e2e2e4b;
  display: flex;
  align-items: first baseline;
  justify-content: end;
}

#card_detalhes_users_div {
  background: white;
  width: 50%;
  height: 100%;
  padding: 10px;

}

.card_detalhes_users {
  text-align: left;
}

.card_detalhes_users h2 {
  width: 100%;
  text-align: center;
  color: #5E1C6F;
  text-decoration: underline;
}

.card_detalhes_users h3 {
  color: #902DA9;
}

#botoes_list_users {
  width: 20%;
  padding-right: 5%;
}

#botoes_list_users svg {
  margin-bottom: 10px;

}

.detalhes_user {
  color: black;
  border: none;
  background: none;
}

.detalhes_user:hover {
  cursor: pointer;
  color: blue;
}

.fechar_detalhes_user {
  top: 10px;
  right: 10px;
  color: #5E1C6F;
  border: none;
  background: none;
  position: fixed;
}

.fechar_detalhes_user:hover {
  color: #c857e4;
}

.deleteLixeira {
  color: black;
  border: none;
  background: none;
}


.deleteLixeira:hover {
  cursor: pointer;
  color: red;
}

.div_delete_user {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #2e2e2e4b;
  display: flex;
  align-items: first baseline;
  justify-content: center;
  padding-top: 10%;
}

.div_delete_user_div {
  padding: 50px;
  background: white;
  width: 30%;
  border-radius: 5px;
}

#detalhes_card_contratos {
  width: 90%;
  height: 25%;
}

#detalhes_card_contratos_title li {
  color: white;
  background: #33083d;
}

#detalhes_card_contratos_plano,
#detalhes_card_contratos_vigen {
  width: 35% !important;
}

#detalhes_card_contratos_valor {
  width: 30% !important;
}

#logs_users {
  width: 90%;
  height: 50%;
  padding-left: 5%;
  overflow: auto;
}

#cards_log {
  width: 90%;
  padding-bottom: 3px;
  padding-left: 5%;
  margin-bottom: 3px;
  border-bottom: solid 1px #b237ce;
}

@media (max-width: 1200px) {
  #usuariosMain {
    font-size: small;
  }
}

@media (max-width: 750px) {
  #usuariosMain {
    width: 100%;
    font-size: xx-small;
    padding: 0px;
  }

  #form_pesquisa_usuario {
    padding-left: 10px;
    padding-right: 10px;
  }

  .pdf_user svg {
    width: 20px;
  }


  #containerUsuario h5 {
    font-size: x-small;
  }

  #card_detalhes_users_div {
    width: 100%;

  }

  #botoes_list_users svg {
    width: 10px;
    height: 10px;
  }

  #logs_users {
    width: 100%;
  }

  #detalhes_card_contratos {
    width: 100%;
  }

}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////              Planos                     //////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#planosMain {
  margin-top: 20px;
  min-height: 100vh;
  width: 80%;
  margin-left: 5vh;
}

#planosMain h1 {
  margin-left: 3vw;
  width: 90vw;
  color: #902DA9;
  margin-bottom: 5%;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}

.containerTiposPlanos {
  display: flex;
  justify-content: space-between;
}

.containerPlanos {
  margin-left: 5vw;
  margin-bottom: 5vh;
  padding: 30px;
  width: 20vw;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.407);
  border-radius: 20px;
  text-align: left;
  color: black;
  font-weight: 600;
}

.containerPlanos:hover {
  color: white;
  box-shadow: 2px 20px 25px rgb(0, 0, 0);
  background: linear-gradient(#5E1C6F, #902DA9);

}

.containerPlanos:hover h2,
.containerPlanos:hover .descricaoPlano,
.containerPlanos:hover .descricaoPlano button {
  color: white;
  /* Altere a cor do texto do h2 e .descricaoPlano quando .containerPlanos estiver em :hover */
}

.containerPlanos h2 {
  color: #902DA9;
  text-align: left;
}

.descricaoPlano {
  color: #2E2E2E;
}

.contratarPlano {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
}

.contratarPlano button {
  width: 70%;
  border-radius: 35px;
  color: black;
  background-color: #E8DB66;
  border: none;
  font-weight: 700;
}

.descricaoPlano button {
  background: none;
  border: none;
  font-weight: 600;
  color: #2E2E2E;
}

.descricaoPlano button:hover {
  background: none;
}



#card_detalhes_planos {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #2e2e2e4b;
  display: flex;
  align-items: first baseline;
  justify-content: end;
}

#card_detalhes_planos_div {
  background: white;
  width: 40%;
  min-height: 100%;
  padding: 50px;
}

.fechar_detalhes_planos {
  top: 10px;
  right: 10px;
  color: #5E1C6F;
  border: none;
  background: none;
  position: fixed;
}

.fechar_detalhes_planos:hover {
  color: #c857e4;
}

#card_detalhes_planos_div h2 {
  color: #902DA9;
}

@media(max-width: 1024px) {
  .containerTiposPlanos {
    display: block;
  }

  .containerPlanos {
    width: 70vw;
  }

  #card_detalhes_planos_div {
    width: 100%;

  }

}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////              Login                      ////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#mainLogin {
  width: 100%;
  display: flex;
  background-color: #33083d;
}

#banner_login {
  width: 54vw;
}

#form_login {
  display: block;
  width: 46vw;
  height: auto;
  text-align: center;
  background-color: #902DA9;
  color: white;
}

#logo_login_login {
  margin-top: 5vh;
  width: 50%;
  min-width: 200px;
}

#mainLogin input {
  border-radius: 5px;
  border-color: #2e2e2e4b;
  padding: 5px;
  width: 50%;
  min-width: 215px;
  outline-color: #5E1C6F;
}

#mainLogin input::placeholder {
  color: #902DA9;
}

#input_login {
  margin-top: 10px;
  margin-bottom: 10px;
}

#form_login a {
  border: 0px;
  color: white;
  text-decoration: none;
}

#btn_login {
  margin-top: 10%;
  border: 0px;
  color: #902DA9;
  background-color: white;
  width: 30%;
  padding: 2%;
  font-weight: 700;
  border-radius: 15px;
}

#btn_login:hover {
  background-color: #33083d;
  color: white;
}

@media(max-width: 1024px) {
  #mainLogin {
    justify-content: center;
    align-items: center;
    min-height: 90vh;
  }

  #banner_login {
    display: none;
  }

  #form_login {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
  }

  #form_login a {
    font-size: small;
  }

}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////              Cadastro                    ///////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#main_cadastro {
  width: 100%;
  display: flex;
  background-color: #33083d;
}

#banner_cadastro {
  width: 54vw;
}

#cadastro_form {
  padding-top: 2vh;
  display: block;
  width: 46vw;
  height: auto;
  text-align: center;
  color: white;
  background-color: #902DA9;
  padding-bottom: 10px;
}

#cadastro_form h3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#div_info_cadastro {
  margin-right: 20px;
}

#div_card_info_cadastro {
  position: absolute;
}

#button_info {
  background: none;
  color: white;
  border: 0px;
  padding: 0px;
  margin-left: 85%;
}

#card_info_cadastro {
  background-color: #33083d;
  font-size: small;
  text-align: left;
}

#campos_cadastro {
  display: flex;
  padding: 20px;
}

#div1_cadastro {
  margin-right: 2%;
}

#div1_cadastro,
#div2_cadastro {
  text-align: left;
  width: 48%;
}

#div1_cadastro input,
#div2_cadastro input {
  margin-bottom: 10px;
  width: 92%;
  height: 40px;
  border-radius: 9px;
  border: 0px;
  outline-color: #5E1C6F;
}

#div1_cadastro input::placeholder,
#div2_cadastro input::placeholder {
  color: #902DA9;
}

#datanasci,
#UF {
  color: #902DA9;
}

#campos_sexo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
}

#sexo_div input {
  width: auto;
  margin: 0px !important;
}

#div_botoes_cadastro {
  padding-top: 60px;
  width: 96%;
  margin-left: 0px;
  justify-content: space-around;
}

#div_botoes_cadastro button {
  border: none;
  width: 130px;
  margin-right: 10px;
  margin-left: 10px;
}

@media(max-width: 1024px) {
  #main_cadastro {
    justify-content: center;
    align-items: center;
    min-height: 90vh;
  }

  #banner_cadastro {
    display: none;
  }

  #cadastro_form {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
  }

  #card_info_cadastro {
    width: 60vw !important;
  }
}

@media(max-width: 550px) {
  #campos_cadastro {
    display: block;
  }

  #card_info_cadastro {
    width: 60vw !important;
    font-size: x-small;
  }

  #div1_cadastro,
  #div2_cadastro {
    width: 100%;
  }

  #div_botoes_cadastro {
    padding-left: 4px;
  }

  #div_botoes_cadastro button {
    margin-right: 0px;
    margin-left: 0px;
  }

}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////              2fa                    ///////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#main2fa {
  width: 100%;
  display: flex;
  background-color: #33083d;
}

#banner_2fa {
  width: 54vw;
}

#main2fa input {
  border-radius: 5px;
  border-color: #2e2e2e4b;
  padding: 5px;
  width: 50%;
  min-width: 215px;
  outline-color: #5E1C6F;
  color: #902DA9;
}

#main2fa input::placeholder {
  color: #902DA9;
}

#form_2fa {
  display: inline-flex;
  width: 46vw;
  height: auto;
  align-items: center;
  background-color: #902DA9;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

#form_2fa h4 {
  color: white;
}

#form_2fa button {
  margin-left: 300px;
  color: white;
  border: 0px;
  background: none;
}

#form_2fa button:hover {
  color: #33083d;
}

@media(max-width: 1024px) {
  #main2fa {
    justify-content: center;
    align-items: center;
    min-height: 90vh;
  }

  #banner_2fa {
    display: none;
  }

  #form_2fa {
    height: 50vh;
    width: 100%;
    padding-bottom: 30px;
  }

  #form_2fa h4 {
    font-size: large;
  }

  #form_2fa button {
    margin-left: 50vw;
  }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////              Sobre nós               ////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#sobreMain {
  margin-top: 5%;
  width: 90%;
  padding-left: 5%;
  min-height: 100vh;
}

#sobreMain h1 {
  padding-bottom: 5px;
  border-bottom: solid 2px #5E1C6F;
  color: #5E1C6F;
}

#container_principal_sobre {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#container_principal_sobre div {
  margin-right: 5px;
}

#container_principal_sobre h3 {
  color: #5E1C6F;
}

#container_principal_sobre p {
  color: #902DA9;
}

@media (max-width: 800px) {
  #container_principal_sobre {
    display: block;
  }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////            Modelo BD           ////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#modeloDbMain {
  min-height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;

}

#img-DB {
  width: 70vw;
  margin-top: 2%;
  box-shadow: 0px 6px 6px 0px black;
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  #img-DB {
    width: 100%;
    box-shadow: none;
    margin: 0px;
  }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////            Error            /////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#div1_erro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #902DA9;
  color: white;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

.h1_erro {
  width: 100%;
  color: #902DA9;
  text-align: center;
  justify-content: center;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////            Notfound          /////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.notfound {
  width: 100%;
  padding-top: 10%;
  gap: 20px;
  color: #902DA9;
  justify-content: center;
  display: flex;
}